body{
    height: 100vh;
    width: 100%;
    background-image: url(https://img.pikbest.com/backgrounds/20201020/question-marks-doodle-pattern-seamless-vector-v_5521270jpg!bw700);
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 150px;
}
.contener{
    display: none;
    font-size: 25px;
    background-color: rgb(7, 7, 7);
    text-align: center;
    box-shadow: 0 0 20px 0px red;
     border-radius: 10px ;
    border: solid 2px red;
}
.jeu .contener{
    

}
.jeu{
     box-shadow: 0 0 20px 0px red;
     border-radius: 10px ;
    border: solid 2px red;
    position: relative;
    padding: 100px 200px;
    background-color: rgba(255, 255, 255, 0.63);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 35px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROe2u7nXCBAK8fs4Lh4bkUZO8hUcsUX82VzA&s);
    background-size: cover;
}
.jeu button{
    padding: 25px;
    background-color: crimson;
    font-size: 25px;
    color: white;
    border-radius: 25px;
}
.input{
    
    bottom: 25px;
    left: 100px;
}
input{
    font-size: 25px;
    color: white;
    background-color: black;
    padding: 25px;
    height: 40px;
    width: 250px;
    border-radius: 10px;
}
h1{
    color: red;
}
#newGame {
    display: none;
}

.jeu p{
    
    color: rgb(6, 119, 134);
    font-style: italic;
    font-size: 30px;
    padding: 15px;
}
.difficulter {
    padding: 15px 25px;

}
.difficulter button {
    border-radius: 25px;
    padding: 50px;
    font-size: 25px;
    background-color: black;
    color: red;
    font-style: italic;
    
}